@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
    --green-100: #d8e9e4;
    --green-300: #2b5f44;
    --green-500: #243831;
    --grey-100: #bbc2c0;
    --grey-300: #939494;
    --success: #49a569;
    --text: #191919;
    --black: #000000;
    --white: #ffffff;
    --golden: rgba(197, 163, 101, 0.5);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #0a0a0a;
        --background: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
